<!DOCTYPE html>
<html lang="<% config.language %> ">
<head>
  <%- partial('partials/head') %>
  <%- css('/css/layout.css') %>
</head>
<body>
  <%- partial('partials/header') %>
  <div class="wrapper">
    <%- body %> 
  </div>
  <%- partial('partials/footer') %> 
</body>